{% extends "base.html" %}

{# don't call super() to prevent navbar render #}
{% block navbar %}
  <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-primary pb-2">
    <div class="navbar-brand">Cromwell Frontend</div>
  </nav>
  {% if error is not none %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
<!-- Login form -->
  <div class="row mt-3">
    <div class="card w-50 mx-auto" style="max-width: 25rem;">
      <h4 class="card-header text-white bg-primary">Login to Your Account</h4>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="nameInput">Username</label>
          <input class="form-control" name="username" id="nameInput" placeholder="cromwell">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Password">
        </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block form-control" value="Login">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
